function Main.main 3
push constant 2
call String.new 1
push constant 102
call String.appendChar 2
push constant 104
call String.appendChar 2
pop local 0
push constant 44
call String.new 1
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 106
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 106
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
pop local 1
push constant 54
call String.new 1
push constant 97
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 106
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 122
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 122
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 122
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 122
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 122
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 106
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 106
call String.appendChar 2
pop local 2
push constant 3000
call Memory.alloc 1
pop temp 0
push constant 14000
push constant 3
call Memory.poke 2
pop temp 0
push constant 14000
call Memory.peek 1
call Output.printInt 1
pop temp 0
push local 1
call Memory.deAlloc 1
pop temp 0
call Memory.sortFreeList 0
pop temp 0
push constant 0
return
