function Main.main 2
push constant 20
pop local 0
push constant 2
neg
pop local 1
push local 0
push local 1
call Math.multiply 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push local 1
call Math.divide 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 9
call Math.log 1
call Output.printInt 1
pop temp 0
push constant 0
return
